<h3>Sign in</h3>
<form class="form-sign-in" action="<%= session_url %>" method="POST">
  <%= auth_token %>
  <label class="sign-in-label">
    <input class="sign-in-input"
           type="text"
           name="user[email]"
           placeholder="Email" />
  </label>
  <label class="sign-in-label">
    <input class="sign-in-input"
           type="password"
           name="user[password]"
           placeholder="Password" />
  </label>
  <input class="sign-in-submit"
         type="submit"
         value="Sign In" />
</form>
  <button class="sign-in-submit">Demo Account</button>
