.navbar-container {
}

.navbar-main {
  z-index: 2;
  position: fixed;
  height: 100%;
  float: left;
  width: 70px;
  background: #F8F8F8;
  padding: 9px;
  text-align: center;
  border-right: 1px solid #ECECEC;
}

.navbar-link {
  margin: 3px auto;
  background: #fff;
  // border: 1px solid #2DBE60;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
.navbar-link > a {
  padding: 1px 6px;
  display: block;
  width: 100%;
}
/* NAV ICONS */

[class*="icon-"] {
  display: inline-block;
  background-image: url(image-path("Icons.png"));
  background-size: 70px 400px;
  background-repeat: no-repeat;
  vertical-align: bottom;
  overflow: hidden;
  height: 49px;
  width: 50px;
}
.icon-navbar-add-note {
  background-position: -17px -203px;
}
.icon-navbar-add-note:hover {
  background-position: -13px -5px;
}
.icon-navbar-search-notes {
  background-position: -17px -345px;
}
.icon-navbar-search-notes:hover {
  background-position: -15px -151px;
}
.icon-navbar-all-notes {
  background-position: -17px -250px;
}
.icon-navbar-all-notes:hover {
  background-position: -14px -102px;
}
.icon-navbar-all-notebooks {
  background-position: -18px -310px;
}
.icon-navbar-all-notebooks:hover {
  background-position: -16px -54px;
}

.navbar-account-box {
  border-top: 1px solid #e1e1e1;
  position: absolute;
  padding: 4px 4px 5px 5px;
  bottom: 18px;
  left: 0px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  font-size: 14px;
}
.navbar-account-box > img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
  top: 16px;
  left: 13px;
}


.navbar-account-logout {
  white-space: nowrap;
  padding: 6px 7px;
  background: #606060;
  color: #d9d9d9;
  border-radius: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  font-size: 16px;
  line-height: 12px;
  font-weight: 500;
  text-transform: uppercase;
  position: absolute;
  display: block;
  top: 35px;
  left: 75px;
  visibility: hidden;
}

.navbar-account-box:hover .navbar-account-logout {
  visibility: visible;
}

.small-logo {
  width: 60px;
  height: 60px;
  margin: -4px auto 40px auto;
  background-image: url(image-path('logo.png'));
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-icon {
  margin: 50px auto;
}
