.navbar-container {
}

.navbar-main {
  z-index: 2;
  position: fixed;
  height: 100%;
  float: left;
  width: 50px;
  background: #F8F8F8;
  padding: 9px;
  text-align: center;
  border-right: 1px solid #ECECEC;
}

.navbar-link {
  margin: 15px auto;
  background: #fff;
  border: 1px solid #2DBE60;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  font-size: 10px;
}
.navbar-link > a {
  padding: 1px 6px;
  display: block;
  width: 100%;
}

.navbar-account-box {
  border-top: 1px solid #e1e1e1;
  position: absolute;
  padding: 4px 4px 17px 5px;
  bottom: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  background: #2DBE60;
  cursor: pointer;
  font-size: 14px;
}

.navbar-account-box:hover {
  background: #28a956;
}
.navbar-account-box:hover::before {
  content: "LOGOUT";
  margin-top: -20px;
  display: block;
}

.small-logo {
  width: 40px;
  height: 32px;
  margin: 5px auto 40px auto;
  background: image-url('FoxNote-logo-small.png');
  background-size: cover;
}

.nav-icon {
  margin: 50px auto;
}
