.navbar-container {
}

.navbar-main {
  z-index: 2;
  position: fixed;
  height: 100%;
  float: left;
  width: 70px;
  background: #F8F8F8;
  padding: 9px;
  text-align: center;
  border-right: 1px solid #ECECEC;
}

.navbar-link {
  margin: 50px auto;
}
.navbar-link > a {
  padding: 1px 6px;
  display: block;
  width: 100%;
}
/* NAV ICONS */

[class*="icon-navbar-"] {
  background-repeat: no-repeat;
  background-size: cover;
  width: 36px;
  height: 36px;
  margin: auto;
  transition: all .2s ease-in-out;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.icon-navbar-add-note {
  background-image: url(image-path('NavBarFoxNoteIcons/AddNote.png'));
}
.icon-navbar-add-note:hover {
  background-image: url(image-path('NavBarFoxNoteIcons/hoverAdd.png'));
}
.icon-navbar-add-note:hover .navbar-text-add-note {
  visibility: visible;
  transition: visibility 0.2s 0.8s ease;
}
.icon-navbar-add-note:hover .navbar-arrow-left {
  visibility: visible;
  transition: visibility 0.2s 0.8s ease;
}
.icon-navbar-search-notes {
  background-image: url(image-path('NavBarFoxNoteIcons/Search.png'));
}
.icon-navbar-search-notes:hover {
  background-image: url(image-path('NavBarFoxNoteIcons/hoverSearch.png'));
}
.icon-navbar-search-notes:hover .navbar-text-search {
  visibility: visible;
  transition: visibility 0.2s 0.8s ease;
}
.icon-navbar-search-notes:hover .navbar-arrow-left {
  visibility: visible;
  transition: visibility 0.2s 0.8s ease;
}
.icon-navbar-all-notes {
  background-image: url(image-path('NavBarFoxNoteIcons/Notes.png'));
}
.icon-navbar-all-notes:hover {
  background-image: url(image-path('NavBarFoxNoteIcons/hoverNote.png'));
}
.icon-navbar-all-notes:hover .navbar-text-notes {
  visibility: visible;
  transition: visibility 0.2s 0.8s ease;
}
.icon-navbar-all-notes:hover .navbar-arrow-left {
  visibility: visible;
  transition: visibility 0.2s 0.8s ease;
}
.icon-navbar-all-notebooks {
  background-image: url(image-path('NavBarFoxNoteIcons/notebook.png'));
}
.icon-navbar-all-notebooks:hover {
  background-image: url(image-path('NavBarFoxNoteIcons/hoverNotebook.png'));
}
.icon-navbar-all-notebooks:hover .navbar-text-notebook {
  visibility: visible;
  transition: visibility 0.2s 0.8s ease;
}
.icon-navbar-all-notebooks:hover .navbar-arrow-left {
  visibility: visible;
  transition: visibility 0.2s 0.8s ease;
}

[class*="navbar-text-"] {
  transition: visibility .2s 0 ease;
  white-space: nowrap;
  padding: 6px 7px;
  background: #606060;
  color: #d9d9d9;
  border-radius: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  font-size: 16px;
  line-height: 12px;
  font-weight: 500;
  text-transform: uppercase;
  position: absolute;
  display: block;
  visibility: hidden;
  left: 46px;
  top: 8px;
}

.navbar-arrow-left {
  transition: visibility .2s 0 ease;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 5px solid #606060;
  visibility: hidden;
  position: absolute;
  top: 15px;
  left: 41px;
}

.navbar-account-box > .navbar-arrow-left {
  transition: visibility .2s 0 ease;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #606060;
  visibility: hidden;
  position: absolute;
  top: 42px;
  left: 70px;
}

.navbar-text-logout {
  top: 35px;
  left: 75px;
}

.navbar-account-box {
  border-top: 1px solid #e1e1e1;
  position: absolute;
  padding: 4px 4px 5px 5px;
  bottom: 18px;
  left: 0px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  font-size: 14px;
}

.navbar-account-box:hover .navbar-text-logout {
  visibility: visible;
}
.navbar-account-box:hover .navbar-arrow-left {
  visibility: visible;
}

.navbar-account-box > img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
  top: 16px;
  left: 13px;
}

.small-logo {
  width: 60px;
  height: 60px;
  margin: -4px auto 40px auto;
  background-image: url(image-path('logo.png'));
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.nav-icon {
  margin: 50px auto;
}
