<h3>Remember Everything</h1>
<p>Modern life can be complicated.</p>
<p>Simplify it with Evernote, the app to manage it all.</p>
<form class="form-sign-up" action="<%= users_url %>" method="POST">
  <%= auth_token %>
  <label class="sign-up-label">
    <input class="sign-up-input"
           type="text"
           name="user[email]"
           placeholder="Email"
           value="<%= @user.email %>" />
  </label>
  <label class="sign-up-label">
    <input class="sign-up-input"
           type="password"
           name="user[password]"
           placeholder="Password"
           value="" />
  </label>
  <input class="sign-up-submit"
         type="submit"
         value="Create a New Account" />
</form>
  <button class="sign-up-submit">Demo Account</button>
