.notebook-form-container {
  margin: auto;
  text-align: center;
}

.notebook-form-icon {
  margin: 90px auto 10px auto;
  padding: 10px;
  background-image: url(image-path('FoxNoteIcons/UnselectedNotebookIcon.png'));
  background-position: center;
  background-size: cover;
  height: 50px;
  width: 45px;
}

.notebook-form-header {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #878787;
  text-align: center;
  margin-bottom: 10px;
}

.notebook-form-divider {
  width: 150px;
  height: 1px;
  border: 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.notebook-form {
  width: 100%;
  height: 700px;
}

.notebook-form-title {
  text-align: center;
  color: #c4c4c4;
  margin: auto;
  line-height: 44px;
  font-weight: 300;
  font-size: 38px;
  display: block;
  padding: 80px;

}

.notebook-form-cancel {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  background: #ececec;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  width: 230px;
  height: 25px;
  margin: 0 4px;
  padding: 9px 14px;
}

.notebook-form-cancel:hover {
  background: #d9d9d9;
  border: 1px solid #d1d1d1;
}

.notebook-form-submit:disabled {
  opacity: 0.6;
  cursor: default;
}
.notebook-form-submit {
  text-align: center;
  color: #fff;
  background: #2dbe60;
  border: 1px solid #2dbe60;
  font-size: 16px;
  font-weight: 500;
  width: 230px;
  height: 25px;
  margin: 0 4px;
  padding: 9px 14px;
  border-radius: 5px;
}

.notebook-form-submit:hover {
  background: #28a955;
  border: 1px solid #28a955;
}
