body {
  height: 100%;
  width: 100%;
  background: #f3f3f3;
  font-size: 16px;
  color: #4a4a4a;
  font-family: sans-serif;
  font-weight: 200;
}

.container-left {
}

.container-right {
  margin-left: 440px;
  position: absolute;
  top: 30px;
  bottom: 0px;
  left: 40px;
}

.welcome {
  background-image: url(image-path('EvernoteBackground.jpg'));
  background-repeat: no-repeat;
  background-size: cover;
}
